.marginFix{
    margin-bottom: 0px;
}

.picture{
    height: 300px;
    width: 150px;
    margin-top: -150px;
}

.headerBody{
    margin-top: 200px;
}

.name{
    font-family: 'Tangerine', serif;
    font-size: 115px;
    margin-top: 175px;
    margin-bottom: -15px;
    text-shadow: 4px 4px 4px #bdbdbd;
}

.position{
    font-family: 'Lora', serif;
}

.navHeight{
    height: 65px;
    line-height: 65px;
    margin-top: -15px;
}

.navHeight:hover{
    background-color: #bdbdbd ;
}

.navLinks{
    font-family: 'Lora', serif;
    font-size: 30px;
}

.body{
    /*height: 350px;*/
}

.quote{
  text-align: center;
  font-size: 40px;
  margin-top: -40px;
  color: #616161;
}

.design{
  font-size: 160px;
  font-weight: bolder;
  color: black;
}

.works{
  font-size: 80px;
  font-weight: bold;
  color: black;
}

.projectImages{
  display:block;
  margin: 0 auto;
}

.projectDescriptions{
  font-family: 'Lora', serif;
  text-align: justify;
}

.resume{
  margin: 0 auto;
}

.enlarge{
  margin-bottom: 0px;
}


@media only screen and (min-width: 1040px){
  #logo1{
    display: block;
  }
  #logo2{
    display: none;
  }
}

/*medium screens*/
/*@media only screen and (min-width: 480px) and (max-width: 767px){
  #logo1{
    display: none;
  }
  #logo2{
    display: block;
  }
}*/

/*small screens*/
@media only screen and (max-width: 1039px){
  #logo1{
    display: none;
  }
  #logo2{
    display: block;
  }
}
