.marginFix{
    margin-bottom: 0px;
}

.picture{
    height: 300px;
    margin-top: -150px;
}

.headerBody{
    margin-top: 200px;
}

.name{
    font-family: 'Tangerine', serif;
    font-size: 115px;
    margin-top: 175px;
    margin-bottom: -15px;
    text-shadow: 4px 4px 4px #bdbdbd ;
}

.position{
    font-family: 'Lora', serif;
}

.navHeight{
    height: 65px;
    line-height: 65px;
    margin-top: -15px;
}

.navHeight:hover{
    background-color: #bdbdbd ;
}

.navLinks{
    font-family: 'Lora', serif;
    font-size: 30px;
}

.body{
    /*height: 350px;*/
}

.quote{
  text-align: center;
  font-size: 40px;
  margin-top: -40px;
  color: #616161;
}

.design{
  font-size: 160px;
  font-weight: bolder;
  color: black;
}

.works{
  font-size: 80px;
  font-weight: bold;
  color: black;
}
